header {
  height: 50px;
  width: 100%;
}

.title {
  color: blue;
  font-size: 40px;
}

.cartCount {
  float: right;
  color: red;
  font-size: 22px;
}

.openCart {
  float: right;
  margin-right: 10px;
}
