header {
  width: 100%;
  grid-area: header;
}

.title {
  color: blue;
  font-size: 40px;
  display: inline;
}

.cartCount {
  display: inline;
  color: red;
  font-size: 22px;
}

.openCart {
  display: inline;
  margin-right: 10px;
}
