#root {
  height: 100vh;
  width: 100vw;
}
.app {
  display: grid;
  /* grid-gap: 10px; */
  grid-template-columns: auto auto 20%;
  grid-template-areas:
    "header  header header"
    "content content sidebar";
}
